.login-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 20px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-content{
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}

.input-login{
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-login{
    // width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: pointer;
  justify-self: center ;
}
.login-content-button{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}